export(absolute_path)
export(bi_file_ncdump)
export(bi_file_summary)
export(bi_generate_dataset)
export(bi_init_file)
export(bi_obs_file)
export(bi_read_var)
export(bi_wrapper)
export(log2normw)
useDynLib(bi)
