export(absolute_path)
export(bi_file_ncdump)
export(bi_file_summary)
export(bi_init_file)
export(bi_libbi)
export(bi_read_var)
export(bi_wrapper)
exportClasses(bi_settings)
export(log2normw)
exportMethods(bi_settings)
useDynLib(bi)
